body { 
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px; 
    margin: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.theme-light .content,
.theme-christmas .content,
.theme-dark .content {
    display: flex; 
    flex-grow: 1;
    flex-direction: column; 
    align-items: center;     
    justify-content: center; 
    min-height: 10vh;
}

.theme-light .content {
    background-position: top center; 
    background-size: cover; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #1a1a1a; 
    flex-grow: 1;
    display: flex;
}

.theme-dark .content {
    background-position: top center; 
    background-size: cover; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #1a1a1a; 
    flex-grow: 1;
    display: flex;
}

.theme-christmas .content {
    background-position: top center; 
    background-size: cover; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #1a1a1a; 
    flex-grow: 1;
    display: flex;
}
/* SFONDO */

@media (min-width: 1024px) {
    .monthly-report-table {
        max-width: 1100px; 
        width: 95%;
        border-collapse: collapse; 
        border-spacing: 0;
        border: 1px solid #777; 
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
}

table {
        border: 1px solid #000000; 
}
.monthly-report-table th, 
.monthly-report-table td {
    padding: 12px 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    width: calc(100% / 12);
}

.monthly-report-table th {
    font-weight: bold;
    background-color: #af3745; 
    color: white;
    font-size: 1em;
    padding: 15px 8px;
    border: 1px solid #000000; 
}

.monthly-report-table th:last-child {
    border-right: none;
}

.monthly-report-table .data-value {
    background-color: #ffffff; 
    color: #af3745; 
    font-size: 1em; 
    font-weight: 800;
    padding: 18px 5px;
    border: 1px solid #000000; 
}

.monthly-report-table .data-value:last-child {
    border-right: none;
    border-bottom-right-radius: 10px;
}

.monthly-report-table thead th:first-child {
    border-top-left-radius: 10px;
}
.monthly-report-table thead th:last-child {
    border-top-right-radius: 10px;
}
.monthly-report-table tbody td:first-child {
    border-bottom-left-radius: 10px; 
}

.header-titoli {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-bottom: 50px;
    z-index: 10; 
}

.azienda {
    font-size: 2.2em;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
}

.incendio {
    font-size: 2.2em;
    font-weight: 300;
    color: #ffd700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
}