body { 
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px; 
    margin: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    background-position: top center; 
    background-size: cover; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #1a1a1a; 
    flex-grow: 1;
    display: flex;
}

/* SFONDO */
.theme-light .content {
    background-image: url('../Immagini/Sfondi/SfondoLightHome.png');
}

.theme-dark .content {
    background-image: url('../Immagini/Sfondi/SfondoDarkHome.png');

}

.theme-christmas .content {
    background-image: url('../Immagini/Sfondi/SfondoNatalizioHome.png');
}
/* SFONDO */

.main-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;

}

.welcome-box {
    background-color: rgb(134, 51, 51, 0.85); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    max-width: 600px;
    width: 90%;
        background-color: rgb(134, 51, 51, 0.85); 
}

.welcome-message {
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 
        1px 1px 0 #fff,
       -1px -1px 0 #fff,
        1px -1px 0 #fff,
       -1px 1px 0 #fff;
    color: rgb(71, 17, 17)
}