body { 
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px; 
    margin: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    background-position: center center;
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #1a1a1a; 
    flex-grow: 1;
    display: flex;
}

/* SFONDO */
.theme-light .content {
    background-image: url('../Immagini/Sfondi/SfondoLightHome.png');
}

.theme-dark .content {
    background-image: url('../Immagini/Sfondi/SfondoDarkHome.png');

}

.theme-christmas .content {
    background-image: url('../Immagini/Sfondi/SfondoNatalizioHome.png');
}
/* SFONDO */

.main-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;
    padding: 0 10px; 
    box-sizing: border-box;
}

.welcome-box {
    background-color: rgba(134, 51, 51, 0.85); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    max-width: 600px;
    width: 90%;
    box-sizing: border-box;
}

.welcome-message {
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 
        1px 1px 0 #fff,
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff;
    color: rgb(71, 17, 17)
}


@media (max-width: 1024px) {
    body {
        font-size: 20px;
    }
    
    .welcome-box {
        max-width: 500px;
        padding: 15px;
    }

    .welcome-message {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 18px;
    }
    
    .content {
        background-position: center center;
    }

    .main-content-wrapper {
        padding: 50px 10px; 
    }

    .welcome-box {
        width: 95%; 
        padding: 15px 10px;
    }

    .welcome-message {
        font-size: 6vw; 
        padding: 5px;
        line-height: 1.2;
    }
}

@media (max-width: 480px) {
    .welcome-message {
        font-size: 7vw;
    }
    
    .welcome-box {
        background-color: rgba(134, 51, 51, 0.9);
        padding: 10px;
    }
}