body { 
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../Immagini/Sfondi/Onorificenze.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: center center;
    overflow-y: auto; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: clamp(400px, 55vh, 650px); 
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
}

/* SFONDO MEDAGLIE */
.theme-light .container {
    background-color: rgba(214, 214, 214, 0.7);
    transition: all 0.3s;
}

.theme-dark .container {
    background-color: rgba(31, 31, 31, 0.7); 
    transition: all 0.3s;
}

.theme-christmas .container {
    background-color: rgba(105, 48, 48, 0.7);
    transition: all 0.3s;
}
/* SFONDO MEDAGLIE */

.image-gallery-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-width: 0;
    padding-right: 30px;
}

.medal-title-overlay {
    text-align: center;
    margin-bottom: 20px;
    z-index: 10;
}

#medal-title-text {
    font-size: clamp(1.8rem, 4vw, 3rem);
    margin-bottom: 2vh;
    transition: color 1s ease-in-out; 
}

#medal-title-text.gold {
    color: #CDA434;
    transition: all 0.3s;
}

#medal-title-text.silver {
    color: #c0c0c0;
    transition: all 0.3s;
}

#medal-title-text.bronze {
    color: #cd7f32;
    transition: all 0.3s;
}

.medal-images-wrapper {
    width: clamp(150px, 20vw, 300px); 
    height: clamp(150px, 20vw, 300px);
    position: relative;
}

.medal-image {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    object-fit: contain;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

.medal-image.active {
    opacity: 1;
}

.description-section p {
    font-size: clamp(1.1rem, 1.4vw, 1.4rem);
    line-height: 1.4;
    margin: 0;
    font-style: italic;
}

.description-section {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    border-left: 3px solid;
    min-height: 250px;
}

/* COLORE TESTO */
.theme-light .description-section p {
    color: #000;
    transition: all 0.3s;
}

.theme-dark .description-section p,
.theme-christmas .description-section p {
    color: #f1f1f1;
    transition: all 0.3s;
}
/* COLORE TESTO */

.description-section.border-gold {
    border-left-color: #CDA434; /* Oro */
}

.description-section.border-silver {
    border-left-color: #c0c0c0; /* Argento */
}

.description-section.border-bronze {
    border-left-color: #cd7f32; /* Bronzo */
}