body { 
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px; 
    margin: 0;
    display: block;
    flex-direction: column;
    min-height: 80vh;
    background-image: url('../Immagini/Sfondi/Onorificenze.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    overflow-y: none;
    background-position: center center;
}

.main-nav-desktop a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.4s ease-out;
}

/* PASSARCI SOPRA MENU */
.main-nav-desktop a:hover::after, 
.main-nav-desktop a:focus::after {
    width: 100%;
}

.theme-light .main-nav-desktop a:hover, 
.theme-light .main-nav-desktop a:focus, 
.theme-dark .main-nav-desktop a:hover, 
.theme-dark .main-nav-desktop a:focus {
    color: #af3745;
}

.theme-light .main-nav-desktop a:hover::after, 
.theme-light .main-nav-desktop a:focus::after,
.theme-dark .main-nav-desktop a:hover::after, 
.theme-dark .main-nav-desktop a:focus::after {
    background-color: #af3745;
}

.theme-christmas .main-nav-desktop a:hover, 
.theme-christmas .main-nav-desktop a:focus {
    color: #410000;
}

.theme-christmas .main-nav-desktop a:hover::after, 
.theme-christmas .main-nav-desktop a:focus::after {
    background-color: #410000;
}
/* PASSARCI SOPRA MENU */

/* PAGINA ATTUALE */
.theme-light .main-nav-desktop ul li a[href="../../Riconoscimenti/Riconoscimenti.html"],
.theme-dark .main-nav-desktop ul li a[href="../../Riconoscimenti/Riconoscimenti.html"] {
    color: #af3745;
    font-weight: bold;
}

.theme-christmas .main-nav-desktop ul li a[href="../../Riconoscimenti/Riconoscimenti.html"] {
    color: #410000;
    font-weight: bold;
}

.theme-light .main-nav-desktop ul li a[href="../../Riconoscimenti/Riconoscimenti.html"]::after, 
.theme-dark .main-nav-desktop ul li a[href="../../Riconoscimenti/Riconoscimenti.html"]::after {
    width: 100%;
    background-color: #af3745;
    font-weight: bold;
}

.theme-christmas .main-nav-desktop ul li a[href="../../Riconoscimenti/Riconoscimenti.html"]::after {
    width: 100%;
    background-color: #410000;
}
/* PAGINA ATTUALE */

.main-nav-desktop a img {
    height: 1.3rem; 
    width: auto;
    margin-right: 5px; 
}

.theme-dark .main-nav-desktop a img,
.theme-christmas .main-nav-desktop a img {
    height: 1.3rem; 
    width: auto;
    margin-right: 5px; 
    filter: invert(1);
}


/* CASA */
.theme-light .main-nav-desktop a:hover img,
.theme-light .main-nav-desktop a:focus img {
    filter: invert(20%) sepia(80%) saturate(1400%) hue-rotate(330deg) brightness(90%);
}


.theme-dark .main-nav-desktop a:hover img,
.theme-dark .main-nav-desktop a:focus img {
    filter: invert(20%) sepia(80%) saturate(1400%) hue-rotate(330deg) brightness(90%);
}


.theme-christmas .main-nav-desktop a:hover img,
.theme-christmas .main-nav-desktop a:focus img 
{
    filter: invert(15%) sepia(50%) saturate(1500%) hue-rotate(330deg) brightness(80%);
}
/* CASA */

/* SFONDO MEDAGLIE */
.theme-light .container {
    display: flex;
    align-items: center; 
    height: 59.7%; 
    width: 90%; 
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(214, 214, 214, 0.7);
    border-radius: 10px;
    overflow: auto; 
}

.theme-dark .container {
    display: flex;
    align-items: center; 
    height: 59.7%; 
    width: 90%; 
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(31, 31, 31, 0.7); 
    border-radius: 10px;
    overflow: auto; 
}

.theme-christmas .container {
    display: flex;
    align-items: center; 
    height: 59.7%; 
    width: 90%; 
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(105, 48, 48, 0.7);
    border-radius: 10px;
    overflow: auto; 
}
/* SFONDO MEDAGLIE */

.image-gallery-section {
    flex: 1; 
    padding-right: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-width: 300px; 
}

.medal-title-overlay {
    text-align: center;
    margin-bottom: 20px;
    z-index: 10;
}

#medal-title-text {
    font-size: 2.2rem;
    margin: 0;
    transition: color 1s ease-in-out; 
}

#medal-title-text.gold {
    color: #CDA434;
}

#medal-title-text.silver {
    color: #c0c0c0;
}

#medal-title-text.bronze {
    color: #cd7f32;
}

.medal-images-wrapper {
    width: 250px; 
    height: 250px;
    position: relative;
}

.medal-image {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    object-fit: contain;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

.medal-image.active {
    opacity: 1;
}

.description-section {
    flex: 2; 
    padding-left: 40px;
    min-height: 100%; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid transparent;
    align-self: flex-start;
}

/* COLORE TESTO */
.theme-light .description-section p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-top: 20px;
    color: #000;
    font-style: italic;
}

.theme-dark .description-section p,
.theme-christmas .description-section p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-top: 20px;
    color: #f1f1f1;
    font-style: italic;
}
/* COLORE TESTO */

.description-section.border-gold {
    border-left-color: #CDA434; /* Oro */
}

.description-section.border-silver {
    border-left-color: #c0c0c0; /* Argento */
}

.description-section.border-bronze {
    border-left-color: #cd7f32; /* Bronzo */
}