body { 
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../Immagini/Sfondi/Regolamento.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    overflow-y: scroll;
    background-position: center center;
}

body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* HEADER */
.theme-light .main-header {
    background-color: rgba(231, 231, 231);
    position: sticky; 
    top: 0;
    z-index: 50; 
    padding: 5px 0; 
    will-change: height, padding, transform;
    height: auto;
    transform: translateZ(0); 
    transition: background-color 0.4s ease-out, 
                height 0.4s ease-out, 
                padding 0.4s ease-out;
}

.theme-dark .main-header {
    background-color: rgba(10, 10, 10);
    position: sticky; 
    top: 0;
    z-index: 50; 
    padding: 5px 0; 
    will-change: height, padding, transform;
    height: auto;
    transform: translateZ(0); 
    transition: background-color 0.4s ease-out, 
                height 0.4s ease-out, 
                padding 0.4s ease-out;
}

.theme-christmas .main-header {
    background-color: rgba(150, 62, 73);
    position: sticky; 
    top: 0;
    z-index: 50; 
    padding: 5px 0; 
    will-change: height, padding, transform;
    height: auto;
    transform: translateZ(0); 
    transition: background-color 0.4s ease-out, 
                height 0.4s ease-out, 
                padding 0.4s ease-out;
}
/* HEADER */

.main-header.scrolled {
    height: 80px;
    padding: 0;
}

.main-header.scrolled .header-top {
    align-items: center;
    height: 100%;
}

.main-header.scrolled .header-bottom {
    opacity: 0;
    height: 0;
    transition: height 0.4s ease-out;
    pointer-events: none;
}

.main-header.scrolled .logo img {
    height: 4rem;
    transition: height 0.4s ease-out;
}

/* TORNA SU */
.theme-light #scroll-to-top {
    position: fixed;
    bottom: 70px; 
    right: 30px; 
    z-index: 1000; 
    display: none; 
    opacity: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    cursor: pointer;
    background-color: #131313; 
    box-shadow: 0 4px 8px rgba(0, 0, 0);
    transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-light  #scroll-to-top::before {
    content: '';
    border: 10px solid transparent; 
    border-bottom-color: #ffffff;
    position: absolute; 
    top: 7px;
}

.theme-light  #scroll-to-top:hover {
    background-color: #080808; 
    transform: scale(1.05);
}

.theme-dark #scroll-to-top {
    position: fixed;
    bottom: 70px; 
    right: 30px; 
    z-index: 1000; 
    display: none; 
    opacity: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    cursor: pointer;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0);
    transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scroll-to-top::before {
    content: '';
    border: 10px solid transparent; 
    border-bottom-color: #131313;
    position: absolute; 
    top: 7px;
}

.theme-dark  #scroll-to-top:hover {
    background-color: #ffffff; 
    transform: scale(1.05);
}

.theme-christmas #scroll-to-top {
    position: fixed;
    bottom: 70px; 
    right: 30px; 
    z-index: 1000; 
    display: none; 
    opacity: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    cursor: pointer;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0);
    transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-christmas  #scroll-to-top::before {
    content: '';
    border: 10px solid transparent; 
    border-bottom-color: #af3745;
    position: absolute; 
    top: 7px;
}

.theme-christmas  #scroll-to-top:hover {
    background-color: #ffffff; 
    transform: scale(1.05);
}
/* TORNA SU */

#scroll-to-top.show {
    display: flex;
    opacity: 1;
}

.regolamento-container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    padding: clamp(20px, 5vw, 40px);
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    min-height: auto;
}

/* REGOLAMENTO */
.theme-light .regolamento-container {
    background-color: rgba(214, 214, 214, 0.7);
    transition: all 0.3s;
}

.theme-dark .regolamento-container {
    background-color: rgba(31, 31, 31, 0.7); 
    transition: all 0.3s;
}

.theme-christmas .regolamento-container {
    background-color: rgba(105, 48, 48, 0.7);
    transition: all 0.3s;
}
/* REGOLAMENTO */

.titolo-principale {
    font-size: clamp(1.8rem, 4vw, 2.5rem) !important;
}

.titolo-secondario {
    font-size: clamp(1.4rem, 3vw, 2rem) !important;
}

.testo-articolo {
    font-size: clamp(0.95rem, 1.1vw, 1.1rem) !important;
}

/* TITOLO PRINCIPALE REGOLAMENTO */
.theme-christmas .titolo-principale {
    font-weight: 800;
    text-align: center;
    color: #410000;
    margin-bottom: 5px;
    padding-top: 20px;
    transition: all 0.3s;
}

.theme-light .titolo-principale,
.theme-dark .titolo-principale {
    font-weight: 800;
    text-align: center;
    color: #992c39;
    margin-bottom: 5px;
    padding-top: 20px;
    transition: all 0.3s;
}
/* TITOLO PRINCIPALE REGOLAMENTO */

/* TITOLO SECONDARIO REGOLAMENTO */
.theme-light .titolo-secondario,
.theme-dark .titolo-secondario {
    font-weight: 500;
    text-align: center;
    color: #963e49;
    margin-bottom: 40px;
    border-bottom: 3px solid var(--vdff-red);
    padding-bottom: 10px;
    transition: all 0.3s;
}

.theme-christmas .titolo-secondario {
    font-weight: 500;
    text-align: center;
    color: #4d0505;
    margin-bottom: 40px;
    border-bottom: 3px solid var(--vdff-red);
    padding-bottom: 10px;
    transition: all 0.3s;
}
/* TITOLO SECONDARIO REGOLAMENTO */


/* TITOLO PREAMBOLO */
.theme-light .titolo-preambolo,
.theme-dark .titolo-preambolo {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #a54d58;
    margin-top: 50px;
    margin-bottom: 15px;
    border-left: 5px solid var(--vdff-red);
    padding-left: 15px;
    transition: all 0.3s;
}

.theme-christmas .titolo-preambolo {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #630d0d;
    margin-top: 50px;
    margin-bottom: 15px;
    border-left: 5px solid var(--vdff-red);
    padding-left: 15px;
    transition: all 0.3s;
}
/* TITOLO PREAMBOLO */

/* PREAMBOLO */
.theme-light .preambolo {
    font-style: italic;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000;
    padding: 20px;
    border: 1px dashed var(--border-color);
    border-radius: 5px;
    background-color: var(--highlight-background);
    transition: all 0.3s;
}

.theme-dark .preambolo,
.theme-christmas .preambolo {
    font-style: italic;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #f1f1f1;
    padding: 20px;
    border: 1px dashed var(--border-color);
    border-radius: 5px;
    background-color: var(--highlight-background);
    transition: all 0.3s;
}
/* PREAMBOLO */

/* TITOLO INDICE */
.theme-light .titolo-indice,
.theme-dark .titolo-indice {
    font-size: 2rem;
    font-weight: 700;
    color: #ad4955;
    margin-top: 60px;
    margin-bottom: 30px;
    transition: all 0.3s;
}

.theme-christmas .titolo-indice {
    font-size: 2rem;
    font-weight: 700;
    color: #6d0f0f;
    margin-top: 60px;
    margin-bottom: 30px;
    transition: all 0.3s;
}
/* TITOLO INDICE */

.indice {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}
.indice li {
    font-size: 1.1rem;
    padding: 8px 0;
    border-bottom: 1px dotted var(--border-color);
}

/* INDICE */
.theme-dark .indice a,
.theme-christmas .indice a {
    text-decoration: none;
    color: #f1f1f1;
    transition: all 0.3s;
}

.theme-light .indice a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
}
/* INDICE */

/* TITOLO TITOLI */
.theme-light .titolo-regolamento-sezione,
.theme-dark .titolo-regolamento-sezione {
    font-size: 1.8rem;
    font-weight: 800;
    color: #992c39;
    margin-top: 70px;
    margin-bottom: 25px;
    padding: 10px 0;
    background-color: var(--section-background);
    border-radius: 5px;
    transition: all 0.3s;
}

.theme-christmas .titolo-regolamento-sezione {
    font-size: 1.8rem;
    font-weight: 800;
    color: #410000;
    margin-top: 70px;
    margin-bottom: 25px;
    padding: 10px 0;
    background-color: var(--section-background);
    border-radius: 5px;
    transition: all 0.3s;
}
/* TITOLO TITOLI */

.articolo {
    text-align: justify;
    margin-top: 30px;
    padding: 15px;
    border-radius: 8px;
}

/* TITOLO ARTICOLO */
.theme-light .titolo-articolo,
.theme-dark .titolo-articolo {
    font-size: 1.3rem;
    font-weight: 700;
    color: #992c39;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--border-color);
    transition: all 0.3s;
}

.theme-christmas .titolo-articolo {
    font-size: 1.3rem;
    font-weight: 700;
    color: #4d0505;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--border-color);
    transition: all 0.3s;
}
/* TITOLO ARTICOLO */

/* ARTICOLO */
.theme-dark .testo-articolo,
.theme-christmas .testo-articolo {
    font-style: italic;
    line-height: 1.7;
    color: #f1f1f1;
    padding-left: 10px;
    transition: all 0.3s;
}

.theme-light .testo-articolo {
    font-style: italic;
    line-height: 1.7;
    color: #000;
    padding-left: 10px;
    transition: all 0.3s;
}
/* ARTICOLO */

.gradi-container {
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
    overflow-x: auto;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gradi-container h2 {
    font-size: 1em;
    font-weight: normal;
    padding: 10px 0;
}

.gradi-table {
    width: 100%;
    border-collapse: collapse;
}

/* TABELLA INTESTAZIONE */
.theme-light .ruolo-header {
    background-color: #992c39;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    padding: 8px 10px;
    text-align: center;
    border: 1px solid black;
    transition: all 0.3s;
}

.theme-dark .ruolo-header {
    background-color: #992c39;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    padding: 8px 10px;
    text-align: center;
    border: 1px solid black;
    transition: all 0.3s;
}

.theme-christmas .ruolo-header {
    background-color: #4d0505;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    padding: 8px 10px;
    text-align: center;
    border: 1px solid black;
    transition: all 0.3s;
}
/* TABELLA INTESTAZIONE */

.gradi-table tbody tr {
    height: 40px;
}

.gradi-table td {
    border: 1px solid black;
    padding: 5px 10px;
    vertical-align: middle;
}

.qualifica {
    text-align: left;
    background-color: white;
    font-size: 0.9em;
    text-align: center;
}

.distintivo {
    background-color: white;
    text-align: center;
}
.gradi-table tr:nth-child(2n+1) {
    background-color: #f7f7f7;
}
.gradi-table tr:nth-child(2n) {
    background-color: white;
}

.distintivo img {
    max-width: 80px;
    height: auto;
}

.qualifica { width: 60%; }
.distintivo { width: 40%; }

.allievo {
    background-color: white !important;
    color: black; 
    font-size: 0.9em;
    font-weight: normal;
    text-align: left;
    padding: 5px 10px;
    height: 40px; 
    border: 1px solid black; 
    text-align: center;
}

.sezione-firme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 60px;
    padding: 20px 0;
    gap: 20px;
}

.firma-sx {
    flex: 1;
    min-width: 250px;
    margin-top: 0 !important;
    text-align: left;
}

/* DATA FIRMA */
.theme-light .firma-sx {
    font-size: 18px;
    line-height: 1.4;
    color: #000;
    transition: all 0.3s;
}

.theme-dark .firma-sx,
.theme-christmas .firma-sx {
    font-size: 18px;
    line-height: 1.4;
    color: #f1f1f1;
    transition: all 0.3s;
}
/* DATA FIRMA */

.firma-sx p {
    margin: 0;
}

.firme-dx {
    flex: 1;
    min-width: 300px;
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: right;
    font-size: 18px;
    line-height: 1.4;
}

.blocco-firma {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
    text-align: right;
}

/* BLOCCO FIRME */
.theme-light .blocco-firma {
    min-height: 120px;
    color: black;
    transition: all 0.3s;
}

.theme-dark .blocco-firma,
.theme-christmas .blocco-firma {
    min-height: 120px;
    color: #f1f1f1;
    transition: all 0.3s;
}
/* BLOCCO FIRME */

.blocco-firma p {
    margin: 0; 
}

.img-firma {
    position: relative;
    display: block;
    margin-left: auto;
    max-width: clamp(150px, 20vw, 250px) !important;
    height: auto;
}

/* FIRME */
.theme-light .img-firma {
    transition: all 0.3s;
}

.theme-dark .img-firma,
.theme-christmas .img-firma {
    filter: invert(1);
    transition: all 0.3s;
}
/* FIRME */

#firma-floris {
    max-width: 300px;
    bottom: 20px;
}

#firma-chimera {
    max-width: 500px;
    right: 20px;
    bottom: 50px;
}

#firma-cavalieri {
    max-width: 500px;
    bottom: 40px;
}