body { 
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 20vh; 
    background-image: url('../Immagini/Sfondi/Onorificenze.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: center center;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.main-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 2vw;
}

.skins-container {
    gap: 3vh;
    width: 90%;
}

.player-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.skin-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 15px;
    width: clamp(220px, 30vw, 500px);
    overflow: hidden;
    transition: all 0.3s ease;
}

.skin-img {
    order: 2;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.5));
    cursor: pointer;
    transition: all 0.3s ease;
    height: clamp(200px, 40vh, 450px);
}

.skin-img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}


.skin-card p {
    order: 1;
    margin: 0 0 15px 0;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.player-row.active .skin-card {
    transform: scale(0.95);
}

.medals-panel {
    width: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    gap: 20px;
    border-radius: 0 20px 20px 0;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
    align-items: center;
}

.player-row.active .medals-panel {
    width: auto;
    opacity: 1;
    margin-left: 20px;
    padding: 20px 30px;
    display: block; 
    overflow: visible;
}

.medals-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2vw;
    width: 100%;
}

.medal-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 100%;
}

.medals-grid a {
    cursor: default;
    text-decoration: none; 
}

.medal-item img,
.medal-item p {
    cursor: pointer;
    transition: all 0.3s;
}

.medal-item img:hover,
.medal-item p:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.medal-item img {
    width: clamp(40px, 5vw, 80px); 
    height: auto;
}

p.gold, p.silver, p.bronze {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
}

p.gold {
    color: #CDA434; 
}

p.silver {
    color: #c0c0c0; 
}

p.bronze {
    color: #cd7f32; 
}